.circle {
  align-items: center;
  background-color: red;
  border-radius: 50%;
  display: flex;
  // height: 240px;
  // padding: 20px;
  height: 240px;
  width: 240px;
  padding: 40px;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  &--insignia {
    background-image: url(#{$asset-path}/insignia-1.svg);
    background-repeat: no-repeat;
    background-position: 50% 30px;
    padding-top: 80px;
  }

  &--primary {
    position: absolute;
    top: 50%;
    margin-top: -120px;
    left: 50%;
    margin-left: -120px;
  }

  &__class-size {
    font-size: 35px;
    line-height: 35px;
    margin-top: 10px;
  }
}

.button-cta {
  background: url(#{$asset-path}/Triangle.svg) #002c5a no-repeat center right 20px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  letter-spacing: -0.3px;
  line-height: 50px;
  text-align: left;
  padding: 0 40px 0 20px;
  margin-bottom: 20px;
  
  @media screen and (max-width: 767px) {
    max-width: 360px;
    width: 100%;
  }
}