.header {
  // max-width: 1410px;
  padding: 0 20px;
  margin: 0 auto;

  &--active-navigation {
    @media screen and (max-width: 767px) {
      background: #002c5a;
      padding-top: 10px;
    }
  }

  &__logo--monochrome {
    display: none;
  }

  &--active-navigation &__logo--monochrome,
  &--active-navigation &__search-form,
  &--active-navigation &__navigation-button--close {
    display: block;
  }

  &--active-navigation &__logo--colour,
  &--active-navigation &__search-button,
  &--active-navigation &__navigation-button--open {
    display: none;
  }

  &--active-navigation &__interactions,
  &--active-navigation &__content {
    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  &--active-navigation &__navigation {
    @media screen and (max-width: 767px) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &--active-navigation &__interactions {
    @media screen and (max-width: 767px) {
      margin-top: 10px;
    }
  }

  &__content {
    align-items: center;
    // background-color: green;
    display: flex;
    // left: 0;
    height: 150px;
    justify-content: space-between;
    // position: fixed;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;

    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
  }

  &__logo {
    @media screen and (min-width: 768px) {
      height: 70px;
      width: 228px;
    }
  }

  &__interactions {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__search-button {
    // background-color: #fff;
    border: 1px solid #002c5a;
    background: url(#{$asset-path}/Shape.svg) #fff no-repeat center center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    @media screen and (min-width: 768px) {
      height: 60px;
      width: 60px;
    }
  }

  &__search-form {
    display: none;
  }

  &__search-input {
    padding: 20px;
    width: 339px;
    height: 60px;
    background: url(#{$asset-path}/Shape.svg) #fff no-repeat right 20px bottom 20px;
    border: none;
    border-radius: 30px;
    border: 1px solid #002c5a;
  }

  &__navigation-button {
    background-color: #002c5a;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    @media screen and (min-width: 768px) {
      height: 60px;
      width: 60px;
    }

    &--open,
    &--close {
      font-size: 30px;
      color: #fff;
    }

    &--close {
      display: none;
    }
  }
}