.header {
  background: #fff;
  padding: 0 20px;
  position: sticky;
  margin: 0 auto;
  top: 0;
  z-index: 3;

  &--active-navigation {

    @include mobile-only {
      background: #002c5a;
      padding-top: 10px;
   }

  }

  &--active-navigation &__logo--monochrome,
  &--active-navigation &__search-form,
  &--active-navigation &__navigation-button--close {
    display: block;
  }

  &__logo--monochrome,
  &__search-form,
  &--active-navigation &__logo--colour,
  &--active-navigation &__search-button,
  &--active-navigation &__navigation-button--open {
    display: none;
  }

  &--active-navigation &__interactions,
  &--active-navigation &__content {
    @include mobile-only {
      display: block;
    }
  }

  &--active-navigation &__navigation {
    @include mobile-only {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &--active-navigation &__interactions {
    @include mobile-only {
      margin-top: 10px;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1210px;
    position: relative;
    width: 100%;
    z-index: 3;
  }

  &__logo {
    @include tablet-desktop {
      height: 70px;
      width: 228px;
    }
  }

  &__interactions {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__search-button {
    background: url(#{$asset-path}/Shape.svg) #fff no-repeat center;
    border: 1px solid #002c5a;
    border-radius: 50%;
    height: 50px;
    width: 50px;

    @include tablet-desktop {
      height: 60px;
      width: 60px;
    }

  }

  &__search-input {
    background: url(#{$asset-path}/Shape.svg) #fff no-repeat right 20px bottom 20px;
    border: none;
    border-radius: 30px;
    height: 60px;
    padding: 20px;
    width: 339px;
  }

  &__navigation-button {
    background-color: #002c5a;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    
    @include tablet-desktop {
      height: 60px;
      width: 60px;
    }

    &--open,
    &--close {
      font-size: 30px;
      color: #fff;
    }

    &--close {
      display: none;
    }
  }
}