$backgroundSizeSq: 250px;
$backgroundSizeReq: 145px;

.navigation {
  background: url(#{$asset-path}/insignia-4.svg) #002c5a no-repeat left;
  background-size: contain;
  display: none;
  height: 100vh;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  
  @include mobile-only {
    margin-top: 150px;
  }

  &--active {
    display: block;
  }

  &__links {
    @include tablet-desktop {
      align-items: center;
      display: flex;
      gap: 100px;
      height: 100%;
      margin: 0 115px;
      padding: 0;
    }
    
    @include tablet-desktop {
      background: 
        url(#{$asset-path}/ASC_5822-8.png),
        url(#{$asset-path}/ASC_5822-7.png),
        url(#{$asset-path}/ASC_5822-15.png),
        url(#{$asset-path}/ASC_5822-3.png),
        url(#{$asset-path}/ASC_5822-11.png),
        url(#{$asset-path}/ASC_5822-5.png),
        url(#{$asset-path}/ASC_5822-14.png),
        url(#{$asset-path}/ASC_5822-9.png),
        url(#{$asset-path}/ASC_5822.png),
        url(#{$asset-path}/ASC_5822-2.png),
        url(#{$asset-path}/ASC_5822-10.png),
        url(#{$asset-path}/ASC_5822-1.png),
        url(#{$asset-path}/ASC_5822-12.png),
        url(#{$asset-path}/ASC_5822-13.png),
        url(#{$asset-path}/ASC_5822-6.png),
        url(#{$asset-path}/ASC_5822-4.png);
      background-repeat: no-repeat;
      background-position:
        top left 531px,
        top left 1556px,
        top left 2484px,
        top left 3345px,
        top left 3867px,
        top left 4592px,
        top left 5462px,

        bottom left,
        bottom left 936px,
        bottom left 1824px,
        bottom left 2207px,
        bottom left 2962px,
        bottom left 3625px,
        bottom left 4592px,
        bottom left 4993px,
        bottom left 5887px;
        background-size: 
          $backgroundSizeSq,
          $backgroundSizeSq,
          $backgroundSizeSq,
          $backgroundSizeReq,
          $backgroundSizeSq,
          $backgroundSizeSq,
          $backgroundSizeSq,
          $backgroundSizeSq,
          $backgroundSizeSq,
          $backgroundSizeReq,
          $backgroundSizeSq,
          $backgroundSizeReq,
          $backgroundSizeSq,
          $backgroundSizeSq,
          $backgroundSizeReq,
          $backgroundSizeReq;
        width: fit-content;
      }
    }

  &__main-link {
    color: transparent;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    text-decoration: none;
    white-space: nowrap;
    -webkit-text-stroke: 1px #fff;

    @include tablet-desktop {
      font-size: 90px;
      line-height: 95px;
    }

    &:hover {
      color: #fff;
    }
  }

  &__main-link-detail {
    color: #f7f5ec;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }

  &__secondary-links {
    @include tablet-desktop {
      bottom: 5%;
      display: flex;
      gap: 20px;
      left: 115px;
      position: fixed;
    }
  }

  &__secondary-link {
    color: #f7f5ec;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__social-links {
    display: flex;
    gap: 12px;

    @include tablet-desktop {
      bottom: 5%;
      position: fixed;
      right: 115px;
    }

  }
}