@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.sr-only {
  display: none;
}

.circle {
  align-items: center;
  background-color: #dd041e;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  height: 240px;
  line-height: 18px;
  padding: 40px;
  text-align: center;
  width: 240px;
}
.circle--insignia {
  background-image: url(../assets/insignia-1.svg);
  background-position: 50% 30px;
  background-repeat: no-repeat;
  padding-top: 80px;
}
.circle--primary {
  left: 50%;
  margin: -120px 0 0 -120px;
  position: absolute;
  top: 50%;
}
.circle__class-size {
  font-size: 35px;
  line-height: 35px;
  margin-top: 10px;
}

.button-cta {
  background: url(../assets/Triangle.svg) #002c5a no-repeat center right 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 50px;
  margin-bottom: 20px;
  padding: 0 40px 0 20px;
  text-align: left;
}
@media (max-width: 767px) {
  .button-cta {
    max-width: 360px;
    width: 100%;
  }
}

.header {
  background: #fff;
  padding: 0 20px;
  position: sticky;
  margin: 0 auto;
  top: 0;
  z-index: 3;
}
@media (max-width: 767px) {
  .header--active-navigation {
    background: #002c5a;
    padding-top: 10px;
  }
}
.header--active-navigation .header__logo--monochrome, .header--active-navigation .header__search-form, .header--active-navigation .header__navigation-button--close {
  display: block;
}
.header__logo--monochrome, .header__search-form, .header--active-navigation .header__logo--colour, .header--active-navigation .header__search-button, .header--active-navigation .header__navigation-button--open {
  display: none;
}
@media (max-width: 767px) {
  .header--active-navigation .header__interactions, .header--active-navigation .header__content {
    display: block;
  }
}
@media (max-width: 767px) {
  .header--active-navigation .header__navigation {
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media (max-width: 767px) {
  .header--active-navigation .header__interactions {
    margin-top: 10px;
  }
}
.header__content {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1210px;
  position: relative;
  width: 100%;
  z-index: 3;
}
@media (min-width: 768px) {
  .header__logo {
    height: 70px;
    width: 228px;
  }
}
.header__interactions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__search-button {
  background: url(../assets/Shape.svg) #fff no-repeat center;
  border: 1px solid #002c5a;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
@media (min-width: 768px) {
  .header__search-button {
    height: 60px;
    width: 60px;
  }
}
.header__search-input {
  background: url(../assets/Shape.svg) #fff no-repeat right 20px bottom 20px;
  border: none;
  border-radius: 30px;
  height: 60px;
  padding: 20px;
  width: 339px;
}
.header__navigation-button {
  background-color: #002c5a;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
@media (min-width: 768px) {
  .header__navigation-button {
    height: 60px;
    width: 60px;
  }
}
.header__navigation-button--open, .header__navigation-button--close {
  font-size: 30px;
  color: #fff;
}
.header__navigation-button--close {
  display: none;
}

.navigation {
  background: url(../assets/insignia-4.svg) #002c5a no-repeat left;
  background-size: contain;
  display: none;
  height: 100vh;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
@media (max-width: 767px) {
  .navigation {
    margin-top: 150px;
  }
}
.navigation--active {
  display: block;
}
@media (min-width: 768px) {
  .navigation__links {
    align-items: center;
    display: flex;
    gap: 100px;
    height: 100%;
    margin: 0 115px;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .navigation__links {
    background: url(../assets/ASC_5822-8.png), url(../assets/ASC_5822-7.png), url(../assets/ASC_5822-15.png), url(../assets/ASC_5822-3.png), url(../assets/ASC_5822-11.png), url(../assets/ASC_5822-5.png), url(../assets/ASC_5822-14.png), url(../assets/ASC_5822-9.png), url(../assets/ASC_5822.png), url(../assets/ASC_5822-2.png), url(../assets/ASC_5822-10.png), url(../assets/ASC_5822-1.png), url(../assets/ASC_5822-12.png), url(../assets/ASC_5822-13.png), url(../assets/ASC_5822-6.png), url(../assets/ASC_5822-4.png);
    background-repeat: no-repeat;
    background-position: top left 531px, top left 1556px, top left 2484px, top left 3345px, top left 3867px, top left 4592px, top left 5462px, bottom left, bottom left 936px, bottom left 1824px, bottom left 2207px, bottom left 2962px, bottom left 3625px, bottom left 4592px, bottom left 4993px, bottom left 5887px;
    background-size: 250px, 250px, 250px, 145px, 250px, 250px, 250px, 250px, 250px, 145px, 250px, 145px, 250px, 250px, 145px, 145px;
    width: fit-content;
  }
}
.navigation__main-link {
  color: transparent;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
  white-space: nowrap;
  -webkit-text-stroke: 1px #fff;
}
@media (min-width: 768px) {
  .navigation__main-link {
    font-size: 90px;
    line-height: 95px;
  }
}
.navigation__main-link:hover {
  color: #fff;
}
.navigation__main-link-detail {
  color: #f7f5ec;
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
@media (min-width: 768px) {
  .navigation__secondary-links {
    bottom: 5%;
    display: flex;
    gap: 20px;
    left: 115px;
    position: fixed;
  }
}
.navigation__secondary-link {
  color: #f7f5ec;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation__social-links {
  display: flex;
  gap: 12px;
}
@media (min-width: 768px) {
  .navigation__social-links {
    bottom: 5%;
    position: fixed;
    right: 115px;
  }
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  position: relative;
}

.statement {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1250px;
  padding: 0 20px;
  position: relative;
  text-align: center;
  z-index: 1;
}
.statement__intro {
  color: #696969;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  max-width: 610px;
  margin-top: 40px;
  padding: 0 20px;
  width: 100%;
}
@media (min-width: 768px) {
  .statement__intro {
    font-size: 18px;
    line-height: 28px;
    margin-top: 90px;
  }
}
.statement__heading {
  color: #dd041e;
  font-size: 30px;
  font-weight: 900;
  line-height: 35px;
  max-width: 1250px;
  margin-top: 42px;
  width: 100%;
}
@media (min-width: 768px) {
  .statement__heading {
    font-size: 100px;
    line-height: 99px;
  }
}

.content-inner--split {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.content-inner--full {
  padding: 20px;
  margin: 0 auto;
  max-width: 850px;
  width: 100%;
}
.content-inner--shift {
  margin-top: -50px;
}
@media (min-width: 768px) {
  .content-inner--shift {
    margin-top: -140px;
  }
}
.content-inner__wrapper {
  position: relative;
}
.content-inner__play-button {
  background: none;
  border: none;
  height: 50px;
  left: 50%;
  margin: 0 -25px;
  position: absolute;
  top: 50%;
}
@media (min-width: 768px) {
  .content-inner__left {
    width: 1145px;
  }
}
.content-inner__image {
  width: 100%;
}
.content-inner__heading {
  color: #dd041e;
  font-size: 25px;
  font-weight: 900;
  line-height: 30px;
  margin-bottom: 20px;
}
.content-inner__text {
  color: #696969;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=styles.css.map */
